body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #253344, #17009b);
    width: 90%;/* O Corpo do texto ocupa 90% da area*/
    margin: 0 auto;/*Divide o conteudo de forma proporcional*/
}

header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #161616;
    margin-top: 50px;
    border-radius: 15px;
}

#Logo img{
    width: 45%;
    padding-top: 50px;
}

.Navegacao{
    overflow: hidden;
}

.n{
    color: rgb(175, 175, 175);
    float: right;
    padding: 10px;
    text-align: center;
}

h1{
    color: rgb(175, 175, 175);
    font-size: 72px;
    text-align: center;
}


.Navegacao a{
    color: rgb(175, 175, 175);
    float: right;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: right;
}

.Navegacao a:hover{
    color: antiquewhite;
    background-color: black;
}


.Lc{
    display: flex;
    flex-direction: row;
}

ul{
    list-style: none;
    text-align: center;
}

li{
    margin-top: 18px;
    background-color: #253344;
    padding: 13px;
    margin-right: 50px;
}

li:hover{
    box-shadow: 10px 10px 10px #09101a98;
    background-image: linear-gradient(to right, #253344, #17009b);
    margin-top: 14px;
    margin-left: 8px
}


li a:hover{
    font-size: 26px;
}

li a{
    font-size: 19px;
    height: 30px;
    width: 320px;
    display: block;

    text-decoration: none;
    color: aliceblue;
}

.Conteudo {
    width: 30%;
    float: left;
    margin: 15px 2px 25px 2px;
    background-color: wheat;
    padding: 15px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #09101a98;
}


.Ultimo{
     width: 29%;
    display: block;
    float: left;
    margin: 15px 2px 25px 2px;
    margin-left: 33%;
    margin-right: 33%;
    background-color: wheat;
    padding: 15px;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #09101a98;
}